In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('./tsy_data_2010_q4.xls')

In [3]:
df.head()

,U.S. TREASURY SECURITIES DATA,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,"OCTOBER 1 TO DECEMBER 31, 2010",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Trade date,Settlement date,Transaction category,"Trade amount (in millions, USD)",Issuer,Security description,CUSIP,Price,"Accrued interest (in dollars, USD)","Total amount transferred (in millions, USD)",Counterparty
3,2010-10-05 00:00:00,2010-10-06 00:00:00,Purchase,100,TSY,TN 03.125 01/31/17,912828MK3 ...,108.867,568954,109.436,Credit Suisse Securities (USA) LLC
4,2010-10-05 00:00:00,2010-10-06 00:00:00,Purchase,50,TSY,TN 03.125 04/30/17,912828NA4 ...,108.734,675102,55.0423,Credit Suisse Securities (USA) LLC

In [23]:
column_labels = list(df.iloc[2][:])
column_labels

['Trade date',
 'Settlement date',
 'Transaction category',
 'Trade amount (in millions, USD)',
 'Issuer',
 'Security description',
 'CUSIP',
 'Price',
 'Accrued interest (in dollars, USD)',
 'Total amount transferred (in millions, USD)',
 'Counterparty']

In [21]:
df.rename(columns=dict(column_labels),inplace=True)

ValueError: dictionary update sequence element #0 has length 10; 2 is required

In [24]:
df.columns = column_labels

In [28]:
df = df[3:].copy()
df.head()

,Trade date,Settlement date,Transaction category,"Trade amount (in millions, USD)",Issuer,Security description,CUSIP,Price,"Accrued interest (in dollars, USD)","Total amount transferred (in millions, USD)",Counterparty
3,2010-10-05 00:00:00,2010-10-06 00:00:00,Purchase,100,TSY,TN 03.125 01/31/17,912828MK3 ...,108.867,568954,109.436,Credit Suisse Securities (USA) LLC
4,2010-10-05 00:00:00,2010-10-06 00:00:00,Purchase,50,TSY,TN 03.125 04/30/17,912828NA4 ...,108.734,675102,55.0423,Credit Suisse Securities (USA) LLC
5,2010-10-05 00:00:00,2010-10-06 00:00:00,Purchase,100,TSY,TN 03.000 02/28/17,912828MS6 ...,108.094,298343,108.392,Deutsche Bank Securities Inc.
6,2010-10-05 00:00:00,2010-10-06 00:00:00,Purchase,50,TSY,TN 02.750 11/30/16,912828MA5 ...,106.758,480874,53.8598,"Goldman, Sachs & Co."
7,2010-10-05 00:00:00,2010-10-06 00:00:00,Purchase,12,TSY,TN 03.125 04/30/17,912828NA4 ...,108.75,162024,13.212,"Jefferies & Company, Inc."

In [29]:
df.reset_index(inplace=True)

In [31]:
df['Security description'].value_counts()

TN 03.625 08/15/19      96
TN 03.250 12/31/16      90
TN 03.250 03/31/17      83
TN 01.750 07/31/15      79
TN 01.875 06/30/15      77
                        ..
TN 04.875 06/30/12       1
TB 06.375 08/15/27       1
TB 07.250 08/15/22       1
TN 04.125 08/31/12       1
TN 01.875 08/31/17       1
Name: Security description, Length: 158, dtype: int64

In [34]:
df['Counterparty'].value_counts()

BNP Paribas Securities Corp.                          1186
Goldman, Sachs & Co.                                   412
Credit Suisse Securities (USA) LLC                     275
Barclays Capital Inc.                                  251
Morgan Stanley & Co. Incorporated                      220
J. P. Morgan Securities LLC                            200
UBS Securities LLC.                                    188
Citigroup Global Markets Inc.                          173
Deutsche Bank Securities Inc.                          165
RBC Capital Markets, LLC                               160
HSBC Securities (USA) Inc.                             160
RBS Securities Inc.                                    159
Merrill Lynch, Pierce, Fenner & Smith Incorporated     152
Jefferies & Company, Inc.                              134
Nomura Securities International, Inc.                  115
Daiwa Capital Markets America Inc.                      63
Cantor Fitzgerald & Co.                                 53
Mizuho Securities USA Inc.                              50
Banc of America Securities LLC                          20
RBC Capital Markets Corporation                          3
Name: Counterparty, dtype: int64

In [37]:
df['Trade date'].value_counts()

2010-12-20    343
2010-12-15    233
2010-12-21    229
2010-11-29    187
2010-12-16    176
2010-12-07    167
2010-12-13    163
2010-11-15    151
2010-12-02    147
2010-11-17    144
2010-12-01    141
2010-11-12    138
2010-11-30    129
2010-11-22    125
2010-12-03    123
2010-10-18    122
2010-12-17    122
2010-12-28    118
2010-12-06    117
2010-11-18    115
2010-12-29    108
2010-11-08    101
2010-11-16     90
2010-11-19     89
2010-10-05     84
2010-10-15     82
2010-12-08     59
2010-10-20     58
2010-10-26     56
2010-11-23     55
2010-11-04     53
2010-12-22     42
2010-12-09     17
2010-10-22     17
2010-10-06     17
2010-11-01     15
2010-10-28      6
Name: Trade date, dtype: int64

In [45]:
def DateFinder(string):
    string = string[7:]
    return string

def InterestFinder(string):
    string = string[3:6]
    return string

In [46]:
string = '04.875 06/30/12'
DateFinder(string)

'06/30/12'

In [47]:
InterestFinder(string)

'4.875'

In [48]:
df['interest_rate'] = df['Security description'].map(InterestFinder)
df['maturity_date'] = df['Security description'].map(DateFinder)

In [49]:
df.head()

,index,Trade date,Settlement date,Transaction category,"Trade amount (in millions, USD)",Issuer,Security description,CUSIP,Price,"Accrued interest (in dollars, USD)","Total amount transferred (in millions, USD)",Counterparty,interest_rate,maturity_date
0,3,2010-10-05 00:00:00,2010-10-06 00:00:00,Purchase,100,TSY,TN 03.125 01/31/17,912828MK3 ...,108.867,568954,109.436,Credit Suisse Securities (USA) LLC,N 03.,25 01/31/17
1,4,2010-10-05 00:00:00,2010-10-06 00:00:00,Purchase,50,TSY,TN 03.125 04/30/17,912828NA4 ...,108.734,675102,55.0423,Credit Suisse Securities (USA) LLC,N 03.,25 04/30/17
2,5,2010-10-05 00:00:00,2010-10-06 00:00:00,Purchase,100,TSY,TN 03.000 02/28/17,912828MS6 ...,108.094,298343,108.392,Deutsche Bank Securities Inc.,N 03.,00 02/28/17
3,6,2010-10-05 00:00:00,2010-10-06 00:00:00,Purchase,50,TSY,TN 02.750 11/30/16,912828MA5 ...,106.758,480874,53.8598,"Goldman, Sachs & Co.",N 02.,50 11/30/16
4,7,2010-10-05 00:00:00,2010-10-06 00:00:00,Purchase,12,TSY,TN 03.125 04/30/17,912828NA4 ...,108.75,162024,13.212,"Jefferies & Company, Inc.",N 03.,25 04/30/17